@{
    ViewBag.Title = "درباره ما";
}



<div class=" container col-md-6">
   
    <div class=" col-md-3 text-justify coloertext" id="about2" style="padding-top:20px,20px,20px,20px">
        <center> <h4 class="yellowcoloertext">  @ViewBag.Title</h4> </center>
        مجموعه گردشگری و هتل 5 ستاره دریایی نفس:واقع درشمال غربی جزیره کیش(در خلیج فارس) در منطقه بکر با اکوسیستم طبیعی واقع گردیده است.     این مجموعه در دو فاز تعریف شده است: فاز اول هتل برروی آب و فاز دوم هتل طبقاتی ساحلی(در حال احداث) و همچنین رستوران، کافی شاپ وفست فود ساحلی، رستوران های بزرگ و کوچک و همچنین کافی شاپ بر روی دریا با دید بسیار عالی از غروب و آبهای آزاد خلیج فارس، سالن اسپا ماساژ با اتاق هایی دارای کف شیشه ای، سالن جیم(ورزش)برروی آب، خانه بازی کودک، سالن بیلیارد و بازی و ... می باشد

    </div>
    <div id="about" class="col-md-3" style="margin-bottom:10px; margin-top:10px">
        <img style="background-image:url(/images/about.jpg)" width="350" height="350" align="middle" />
    </div>



</div>
