
@{
    ViewBag.Title = "Disconight";
}

<h2>Disconight</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>


        <img alt="" src="~/images/modern.jpg" style="height:50%; width:50%">
        <p>کافی‌شاپ مدرن با ارائه‌‌ی طیف گسترده‌ای از انواع نوشیدنی‌های سرد و گرم، اسنک‌‌های لذیذ، سالاد و ساندویچ روز، آمادگی پذیرایی از بیش از 70 مهمان را دارد. مهمانان عزیز می‌توانند از تراس جنب کافی‌شاپ برای استعمال دخانیات و یا از ساعت 11 شب تا 3 صبح برای سفارش قلیان استفاده کنند.</p>


    </div>
}

<div>
    @Html.ActionLink("رزرو کنید !", "Create") |
    @Html.ActionLink("بازگشت به صفحه اصلی", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


