@model IEnumerable<Managerhotel.Models.CoffeeShop>

@{
    ViewBag.Title = "کافی شاپ";
}


<div class="row" >

    <center>
        <h2 class="yellowcoloertext">@ViewBag.Title</h2>
    </center>
    <h1 class="heading"></h1>
    <div class="row col-md-12">
        <ul>
            <li class="col-md-6">
               
                <div>
                   
                    <a href="@Url.Action("Modern", "CoffeeShops")">
                        <center> 
                        <h3 class="yellowcoloertext">رستوران مدرن</h3> 
                        </center>
                        <img src="~/images/modern.jpg" width="580" height="300">
                    </a>
                </div>
                <p class="text-justify coloertext">رستورانی با شکوه و مجلل همراه با بوفه، چشم انداز عالی , تمرکز و دقت در ارائه سرویس های مطلوب به مهمانان گرامی</p>
            </li>
            <li class="col-md-6">
                
                <div>
                    
                    <a href="@Url.Action("Sonati", "CoffeeShops")">
                        <center> <h3 class="yellowcoloertext">رستوران سنتی</h3>  </center>
                        <img src="~/images/sonati.jpg" width="580" height="300" >
                    </a>
                </div>
                <p class="text-justify coloertext">رستوران سنتی در طبقه‌ی همکف واقع شده است.</p>

            </li>
        </ul>
    </div>

</div>
       

